h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: blanchedalmond;
    height: 150px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

p {
    font-size: 20px;
    width: 400px;
    background-color: orange;

}

.new-text {
    margin: 10px;
}